<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	{% block header %}<header><p>HEADER</p></header>{% endblock %}
        {% block body %}
        <div id="main">
        	 {{ include('default/_flash_messages.html.twig') }}

             {% block main %}{% endblock %}
        </div>
        {% endblock %}
        {% block footer %}<footer><p>FOOTER</p></footer>{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
